@font-face {
  font-family: "Montserrat-Bold";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Light";
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Medium";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* :before,
* :after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a :active,
a :focus {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: #f1f9ff;
}

._container {
  max-width: 1100px;
  margin: 0 auto;
}

._top_btn {
  width: 353px;
  font-family: Montserrat-Bold;
  font-size: 12px;
  color: rgba(24, 66, 114, 0.5);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #fff;
}

._top_btn img {
  padding: 10px 15px 9px;
}

._top_btn:hover {
  background: -o-radial-gradient(49.86% 92.5%, 50.14% 92.5%, rgba(10, 139, 255, 0.17) 0%, rgba(255, 255, 255, 0) 100%);
  background: radial-gradient(50.14% 92.5% at 49.86% 92.5%, rgba(10, 139, 255, 0.17) 0%, rgba(255, 255, 255, 0) 100%);
  border-bottom: 2px solid #0A8BFF;
  color: #184272;
}

._list__text {
  font-family: Montserrat-Bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #C1C1C1;
  padding: 28px 0 18px 27px;
}

._yellow {
  width: 8px;
  height: 12px;
  background-color: #FFD600;
  border-radius: 2px;
  margin: 0 20px 0 7px;
  -ms-flex-item-align: center;
      align-self: center;
}

._red {
  width: 8px;
  height: 12px;
  background-color: #D21845;
  border-radius: 2px;
  margin: 0 20px 0 7px;
  -ms-flex-item-align: center;
      align-self: center;
}

._white {
  background-color: #fff !important;
}

._vsh {
  visibility: hidden;
}

._blocks_title {
  font-family: Montserrat-Bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #C1C1C1;
}

._blocks_wrapper {
  width: 238px;
  height: 119px;
  border-radius: 10px;
  background: #FFFFFF;
  border: 1px solid #ECECEC;
}

._blocks_content {
  padding: 14px 16px 16px 18px;
  position: relative;
}

.header h1 {
  font-family: Montserrat-Bold;
  font-size: 42px;
  padding: 36px 0 25px 25px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 60px;
}

.list {
  width: 795px;
  border-radius: 10px;
  border: 1px solid #ECECEC;
  background-color: #FFFFFF;
  padding-bottom: 21px;
}

.list__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #EBEBEB;
}

.list__table {
  width: 98%;
  margin: 0 auto;
  display: table;
  font-size: 16px;
  color: #021B31;
  font-family: Montserrat-Bold;
  height: 45px;
  line-height: 45px;
}

.list__row {
  display: table-row;
}

.list__col {
  display: table-cell;
}

.list__num {
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 7%;
  background-color: #F8F8F8;
}

.list__num p {
  white-space: nowrap;
  overflow: hidden;
}

.list__img {
  background-color: #F8F8F8;
}

.list__img img {
  vertical-align: middle;
}

.list__name {
  background-color: #F8F8F8;
}

.list__pos {
  text-align: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.list__block {
  background-color: #F8F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #525252;
  font-size: 14px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list__block img {
  padding-left: 4px;
  vertical-align: middle;
}

.list__pos {
  text-transform: uppercase;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #F8F8F8;
}

.tr {
  text-transform: none;
  font-size: 14px;
  text-align: right;
  padding-right: 10px;
}

.post {
  font-size: 14px;
  font-family: Montserrat-Medium;
  color: #2dd3fc;
  padding-left: 20px;
}

.blocks {
  padding-left: 30px;
  margin-top: -26px;
}

.blocks__weather-title {
  font-family: Montserrat-Bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #C1C1C1;
  padding-bottom: 26px;
}

.blocks__weather {
  width: 240px;
  height: 320px;
  border-radius: 10px;
  position: relative;
}

.blocks__weather-content {
  padding: 20px;
  width: 240px;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blocks__weather-content ::before {
  content: "";
  background-image: url("../image/bg.png");
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.blocks__weather-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blocks__weather-subtitle {
  font-family: Montserrat-Medium;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}

.blocks__weather-indicator img {
  margin: 0 0 5px 30px;
}

.blocks__weather-gr {
  font-family: Montserrat-Medium;
  font-weight: 500;
  font-size: 36px;
  color: #FFFFFF;
}

.blocks__weather-user-img {
  padding-bottom: 10px;
}

.blocks__weather-text {
  font-family: Montserrat-Medium;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  padding-bottom: 20px;
}

.blocks__weather-line {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  height: 1px;
  margin-bottom: 15px;
}

.blocks__weather-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blocks__weather-footer p {
  font-family: Montserrat-Medium;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
}

.blocks__officials-title {
  padding-top: 34px;
  padding-bottom: 21px;
}

.blocks__chief {
  margin-bottom: 21px;
}

.blocks__chief-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blocks__whistle-img {
  position: absolute;
  right: 19px;
  top: 22px;
}

.blocks__whistle-img-flag {
  position: absolute;
  right: 0px;
  top: 22px;
}

.blocks__chief-text {
  font-family: Montserrat-Bold;
  font-size: 12px;
  color: #C1C1C1;
  padding-bottom: 10px;
}

.blocks__chief-name {
  font-family: Montserrat-Bold;
  font-size: 16px;
  color: #021B31;
  padding-bottom: 18px;
  line-height: 116.88%;
}

.webp .blocks__weather-content ::before { background-image: url(../image/bg.webp); }